<a href="https://colab.research.google.com/github/ustab/BTK-PythonTensorflow/blob/master/DEEP_LEARNING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
data = pd.read_csv("/content/Churn_Modelling.csv")
X = data.iloc[:,3:13].values
Y = data.iloc[:,13].values

In [22]:
data

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [23]:
#Encoding
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
X[:,1] = le.fit_transform(X[:,1])

le2 = preprocessing.LabelEncoder()
X[:,2] = le2.fit_transform(X[:,2])

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

ohe = ColumnTransformer([("ohe",OneHotEncoder(dtype=float),[1])], remainder="passthrough")
X = ohe.fit_transform(X)
X = X[:,1:]

In [24]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.33,random_state=0)

from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(x_train)
X_test = sc.fit_transform(x_test)

In [25]:
#Artificial Neural Network
import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
classifier = Sequential()
classifier.add(Dense(6, init= "uniform", activation= "relu", input_dim=11)) #11 nöron girişli 6 nöronlu yapı
classifier.add(Dense(6, init= "uniform", activation= "relu")) #Gizli katman
classifier.add(Dense(1, init= "uniform", activation= "sigmoid"))

In [26]:
classifier.compile(optimizer = 'adam',loss='binary_crossentropy', metrics= ['accuracy'])
classifier.fit(X_train,y_train, epochs=50)
y_pred = classifier.predict(X_test)

Epoch 1/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 2/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 3/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 4/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 5/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 6/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 7/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 8/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 9/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 10/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 11/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 12/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 13/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 14/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 15/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 16/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 17/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 18/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 19/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 20/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 21/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 22/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 23/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 24/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 25/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 26/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 27/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 28/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 29/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 30/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 31/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 32/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 33/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 34/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 35/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 36/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 37/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 38/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 39/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 40/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 41/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 42/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 43/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 44/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 45/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 46/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 47/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 48/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 49/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415
Epoch 50/50
210/210 [==============================] - 0s 1ms/step - loss: 3.5933 - accuracy: 0.2415

In [19]:
y_pred = (y_pred > 0.5)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [ ]:
print(cm)